---
import Arrow from "../components/Arrow";
import Hero from "../components/Hero";
import SocialMedia from "../components/SocialMedia";
---

<body class="bg-black text-white p-12">
	<Hero />
	<SocialMedia />
	<Arrow />
</body>